@font-face {
  font-family: 'VCR OSD MONO';
  src: url('../../assets/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
}

@font-face {
  font-family: 'Pixelfy Sans';
  src: url('../../assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  width: 366px;
  height: 512px;
  -webkit-app-region: drag;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  
  margin: 0;
  padding: 0;
  padding-top: 16px; /* push card down below controls */
  height: calc(512px - 36px);

}

.screen{
  width: 366px;
  height: 512px;
  background-image: url("/assets/images/startScreen.png");
  background-size: 100% 100%;
  image-rendering: pixelated; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

#window-controls {
  position: fixed;
  top: 8px;
  right: 8px;
  display: flex;
  gap: 4px;
  z-index: 999;
}

#minimizeBtn, #closeBtn {
  background: #F7EECF;
  border: 2px solid #AC7548;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
#minimizeBtn:hover {
  background: #AC7548;
  color: #F7EECF;
}

#closeBtn:hover {
  background: #ba5c4b;
  color: #F7EECF;
}
